@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <img src="~/images/PVG_Icon.png"  class="img-fluid mx-auto d-block" alt="PVG Logo"/>

    <div class="row">
        <div class="col-md-5">
            <img src="~/images/Awaken.png" class="rounded-circle img-fluid mx-auto" alt="awaken." style="width:200px;height:200px;" />
        </div>
        
        <hr/>

        <div class="col-md-7">
            <p class="lead">
                Hi everyone, I'm awaken, founder of PVG - I am passionate about bringing people together and creating a
                space for positivity where people's talents can shine and we can have some fun together while
                spreading and sharing the grind of blah blah blah
            </p>
            <p class="lead">
                <a href="#" class="fab fa-twitch fa-fw"></a>
                <a href="#" class="fab fa-twitter fa-fw"></a>
                <a href="#" class="fab fa-instagram fa-fw"></a>
                <a href="#" class="fab fa-youtube fa-fw"></a>
                <a href="#" class="fab fa-mixer fa-fw"></a>
            </p>
        </div>
    </div>
</div>