
@{
    ViewData["Title"] = "woxdy";
}

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <!--USER AVI-->
                <img src="~/images/woxdy.png" class="rounded-circle img-fluid mx-auto" alt="woxdy" style="width:200px;height:200px;" />
            </div>

            <div class="col-md-7">
                <p class="lead">
                    <!--USER TAG-->
                    <h2 class="lead">
                        <b>
                            <u>
                                woxdy
                        </b></u>
                    </h2>
                    <!--About player info-->
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <p class="lead">
                    <!--Social Media Links-->
                    <a href="#" class="linkDisabled fab fa-twitch fa-fw" target="_blank">
                    <a href="https://twitter.com/woxdy" class="fab fa-twitter fa-fw" target="_blank"></a>
                    <a href="#" class="linkDisabled fab fa-instagram fa-fw" target="_blank"></a>
                    <a href="https://www.youtube.com/woxdy" class="fab fa-youtube fa-fw" target="_blank"></a>
                    <a href="https://mixer.com/woxdy" class="fab fa-mixer fa-fw" target="_blank"></a>
                </p>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <iframe src="https://mixer.com/embed/player/woxdy" class="videobox"></iframe>
            <iframe id="rightof" src="https://mixer.com/embed/chat/woxdy"></iframe>

        </div>

    </div>