
@{
    ViewData["Title"] = "Upcoming Events";
}
    <div class="container">
        
        <div class="row">
            <div class="col">
            <h1 style="text-align:center">PVG Events</h1>
            </div>

            <div class="col">
                <span class="lead">
                    Be sure to check back here frequently to find out when our next event is!
                </span>
            </div>
        </div>
        
        <hr />

        <div class="row">
            <div class="col">
            <iframe src="https://calendar.google.com/calendar/b/2/embed?height=300&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=NGw5M2gyMGJpdHNxam05ODJrZTNyNWlzN29AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23D81B60&amp;showTitle=0&amp;showCalendars=1&amp;showTabs=1&amp;showPrint=0&amp;showDate=1" style="border:solid 1px #777" align="middle" width="350" height="300" frameborder="0" scrolling="no"></iframe>
        
            </div>
        </div>
        <hr />

    
    </div>